<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gcook">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GCook">
        <activity
            android:name=".UI.Food.EditFoodActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Admin.ManageActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Food.AddFoodActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Splash.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.Home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".UI.Auth.SignInActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>